<%- include("./partials/head.ejs") %> <% if (locals.allGameDetails &&
locals.allGameDetails.length > 0) { %> Game: <%=
allGameDetails[allGameDetails.length - 1].gameName %> <% } else { %>
allGameDetails empty or some error <% } %> <br /><br />
<div class="money-area">
	<div class="players-area">
		<% for (let i = 1; i < personas.length ; i++) { %>

		<div class="player-segment persona-segment" id="player-<%- i %>">
			<div class="money"><%= personas[i].cash %></div>
			<div class="player persona-name"><%= personas[i].name %></div>
			<div class="salary">Salary / Pass GO</div>
		</div>

		<% }; %>
	</div>
	<div class="public-area">
		<div class="persona-segment" id="bank">
			<div class="bank-house persona-name"><%= personas[0].name %></div>
			<div class="money"><%= personas[0].cash %></div>
		</div>
		<div class="all person" id="all">ALL</div>
	</div>
</div>
<div class="functions-area">
	<div class="ledger" id="ledger">LEDGER</div>
	<div class="dice" id="dice">DICE ROLL</div>
</div>
<button id="new-game">New Game</button><br />
<!-- <button id="add-person">Add Person</button> 
<button id="game-initial">New Game Init Amounts</button>
-->
<div id="ledger-output">
	<% if (locals.ledger) { %> <%= JSON.stringify(locals.ledger) %> <% } else { %>
	not getting ledger data <% } %>
</div>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
	integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script src="./scripts/diceRoll.js"></script>
<script src="scripts/gamePlay.js"></script>

<%- include("partials/footer.ejs") %>
