<%- include("./partials/head.ejs") %> <% if (locals.allGameDetails &&
locals.allGameDetails.length > 0) { %> Game: <%=
allGameDetails[allGameDetails.length - 1].gameName %> <% } else { %>
allGameDetails empty or some error <% } %> <br /><br />
<div class="money-area">
	<div class="players-area">
		<% playersCash = [] %> <% for (let i = 0; i < listOfPlayers.length ; i++) {
		%> <% let playerName = listOfPlayers[i]; %> 
		<% let playerData = {name:	playerName , cash: initialAmount}; %>

		<div class="player-segment" id="<%- i %>">
			<div class="money"><%= playerData.cash %></div>
			<div class="player person"><%= playerData.name %></div>
			<div class="salary">Salary / Pass GO</div>
		</div>

		<% playersCash.push(); %> <% }; %>
	</div>
	<div class="public-area">
		<div class="bank-house person" id="bank">Bank</div>
		<div class="all person" id="all">ALL</div>
	</div>
</div>
<div class="functions-area">
	<div class="ledger" id="ledger">LEDGER</div>
	<div class="dice" id="dice">DICE ROLL</div>
</div>
<button id="new-game">New Game</button><br />
<!-- <button id="add-person">Add Person</button> 
<button id="game-initial">New Game Init Amounts</button>
-->
<!-- <div id="ledger-output"></div> 
		TOTO JE DALSI KOUSEK
		-->

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
	integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<script src="./scripts/diceRoll.js"></script>
<script src="scripts/gamePlay.js"></script>

<%- include("partials/footer.ejs") %>
